# 1. Disable MultiViews to prevent conflict with rewrite rules
Options -MultiViews -Indexes
ErrorDocument 404 /404.html
DirectorySlash Off

RewriteEngine On

# 2. Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 3. Completely Force remove trailing slash (Clean URLs for EVERYTHING including directories)
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.*)/$ /$1 [R=301,L]

# 4. Externally redirect /file.html to /file (for SEO)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# 5. Internally forward /dir to /dir/index.html (e.g. /login to /login/index.html)
RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.*)$ $1/index.html [L,QSA]

# 6. Internally forward /file to /file.html 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]
